.buttons-container{
    height: 100%;
}
.buttons-row-1{
    width: 100%;
    height: 30%;
}
.buttons-row-2{
    width: 100%;
    height: 70%;
    padding: 0 16px;
}

.data-column{
    box-sizing: border-box;
}



@media(max-width: 575.9px){
    .buttons-row-1{
        margin: 10px;
    }
}

