@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    font-family: "Open Sans", serif;
}

/*container*/
.main-container{
    height: 100vh;
    background: linear-gradient(135deg, #3a82f7, #6a00f4);
}

/*row*/
.main-row{
    height: 100%;
}

/*seperator*/
.border-seperator{
    border-right: 4px solid white;
}
@media(max-width: 767.9px){
    .border-seperator{
        border-right: none;
        border-bottom: 4px solid white;
    }
}


/*alignment and spacing*/
.flexbox-center-row{
    display: flex;
    justify-content: center;
    align-items: center;
}.flexbox-center-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}.padding-x{
    padding:0 2rem;
}.padding-y{
    padding: 1rem 0;
}@media(max-width: 767.9px){
    .column-1{
        height: 40%;
    }
    .column-2{
        height: 60%;
    }
}



.button-element{
    height: 100px;
    width: 200px;
    background-color: #374965;
    border: none;
    border-radius: 8px;
    color: white;
    transition: 0.2s;
}.button-element:hover{
    background-color: #de5509;
}

@media(max-width: 991.9px){
    .button-element{
        height: 90px;
        width: 190px;
    }
}@media(max-width: 767.9px){
    .button-element{
        height: 50px;
        width: 150px;
    }
}@media(max-width: 575.9px){
    .button-element{
        height: 40px;
        width: 150px;
    }
}







